<%= turbo_frame_tag "ticket" do %>

<h1>New ticket</h1>

<%= render "form", ticket: @ticket , board: @board %>

<br>
BOARD <%= @board.name%> - 
<div>
  <%= link_to "cancel", @board %>
</div>
<% end %>